<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ordered Foods</title>

    <link data-th-href="@{/all.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link data-th-href="@{/sb-admin-2.css}" rel="stylesheet">
    <link data-th-href="@{/dataTables.bootstrap4.css}" rel="stylesheet">

</head>
<body id="page-top">

<div id="wrapper">

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Progmatic Waiter App</div>
        </a>

        <hr class="sidebar-divider my-0">

        <div class="sidebar-heading">
            Waiter menu
        </div>

        <li class="nav-item">
            <a class="nav-link" data-th-href="@{/home}">
                <i class="fas fa-fw fa-folder"></i>
                <span>Home</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-folder"></i>
                <span>Active orders</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-th-href="@{/orders/neworder}">
                <i class="fas fa-fw fa-cog"></i>
                <span>New order</span></a>
        </li>

        <div class="sidebar-heading">
            Summaries
        </div>

        <li class="nav-item">
            <a class="nav-link" data-th-href="@{/orders}">
                <i class="fas fa-fw fa-table"></i>
                <span>Orders</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-th-href="@{/foods}">
                <i class="fas fa-fw fa-table"></i>
                <span>Foods</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" data-th-href="@{/drinks}">
                <i class="fas fa-fw fa-table"></i>
                <span>Drinks</span></a>
        </li>


    </ul>

    <div id="content-wrapper" class="d-flex flex-column">


        <div id="content">


            <div class="container-fluid">

                <h1 class="h3 mb-2 text-gray-800">Order Summary</h1>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ducimus fugit id ipsa rem sint.</p>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Saved Orders /drinks</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Order ID</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Order ID</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr data-th-each="drink : ${drinks}">
                                    <td data-th-text="${drink.id}"></td>
                                    <td data-th-text="${drink.name}"></td>
                                    <td data-th-text="${drink.quantity}"></td>
                                    <td data-th-text="${drink.price}"></td>
                                    <td data-th-text="${drink.sumOrder.id}"></td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<script data-th-src="@{/jquery.js}"></script>
<script data-th-src="@{/jquery.easing.js}"></script>
<script data-th-src="@{/bootstrap.bundle.js}"></script>
<script data-th-src="@{/Chart.js}"></script>
<script data-th-src="@{/chart-area-demo.js}"></script>
<script data-th-src="@{/chart-pie-demo.js}"></script>
<script data-th-src="@{/dataTables.bootstrap4.js}"></script>
<script data-th-src="@{/datatables-demo.js}"></script>

</body>
</html>