<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Order</title>

  <link data-th-href="@{/all.css}" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
  <link data-th-href="@{/sb-admin-2.css}" rel="stylesheet">

</head>
<body id="page-top">

<div id="wrapper">

  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#" th:include="menu::menuBranding"></a>
    <hr class="sidebar-divider my-0">
    <div class="sidebar-heading">Waiter menu</div>
    <li class="nav-item" th:include="menu::homeItem"></li>
    <li class="nav-item" th:include="menu::activeItem"></li>
    <li class="nav-item active" th:include="menu::orderItem"></li>
    <div class="sidebar-heading">Summaries</div>
    <li class="nav-item" th:include="menu::ordersItem"></li>
    <li class="nav-item" th:include="menu::foodsItem"></li>
    <li class="nav-item" th:include="menu::drinksItem"></li>
  </ul>

  <div id="content-wrapper" class="d-flex flex-column">


    <div id="content">


      <div class="container-fluid">



      </div>

    </div>

  </div>

</div>


<script data-th-src="@{/jquery.js}"></script>
<script data-th-src="@{/jquery.easing.js}"></script>
<script data-th-src="@{/bootstrap.bundle.js}"></script>
<script data-th-src="@{/Chart.js}"></script>
<script data-th-src="@{/chart-area-demo.js}"></script>
<script data-th-src="@{/chart-pie-demo.js}"></script>

</body>
</html>